$lightblue: #196FB4;
$darkblue: #083452;

html {
  font-family: 'Fira Sans', sans-serif;
}

body {
    margin: 0px;
}

.header {
  background-image: url("images/Header-Image.png");
  header {
    height: 500px;
    position: relative;
  }
    .topbar {
      text-align: center;
    }
    .logoimage {
      display: inline-block;
      width:45%;
      padding-top: 5px;
    }
    nav {
      display: inline-block;
      width:45%;
      font-size: 1.5em;
      vertical-align: top;
      text-decoration: none;
      padding-top: 15px;
    }
      header nav a {
        text-decoration: none;
        color: $darkblue;
        padding-left: 10px;
        padding-right: 10px;
      }
    h1 {
      position: relative;
      text-align: center;
      font-size: 6.5em;
      margin-bottom: 0px;
      color: white;
      font-weight: normal;
    }
    h5 {
      position: relative;
      text-align: center;
      margin-top: 0px;
      padding-top: 0px;
      font-size: 1em;
      color: $darkblue;
      font-weight: normal;
    }
}

.mainbody {
  border-bottom: 1px solid grey;
  section {
    display: inline-block;
    width: 55%;
    vertical-align: top;
    padding-left: 100px;
    padding-right: 50px;
  }
    h2 {
      color: $darkblue;
      font-size: 4em;
      font-weight: normal;
    }
    .little-image {
      border-radius: 100%;
    }
      .name {
        color: $darkblue;
        font-size: .8em;
      }
      .date {
        color: grey;
        font-size: .8em;
        padding-left: 10px;
      }
    p {
      color: grey;
    }
    .woah {
      color: $darkblue;
      font-size: 2em;
      padding-left: 15px;
      margin-left: 5px;
      border-left: 1px solid grey;
    }
  .masterbox img {
    background-color: $darkblue;
    margin-bottom: 0px;
  }
  .masterbox span {
    margin-bottom: 0px;
    background-color: grey;
  }
    .box {
      display: inline-block;
      width: 30%;
    }
    .box span {
      vertical-align: 32%;
    }
  aside {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    padding-top: 100px;
    margin-left: 0px;
  }
    .top-aside {
      text-align: center;
    }
      .small-picture {
        border-radius: 100%;
        margin-top: 0px;
        padding-top: 0px;
      }
      h3 {
        color: $darkblue;
        text-weight: normal;
        clear: both;
        padding-top: 20px;
      }
    .paddleboard {
      text-align: center;
      background-color: $lightblue;
      max-height: 314px;

    }
      .paddleboard img {
        width: 100%;
        opacity: .4;
      }
    p {
      color: grey;
    }

    p span a {
      text-decoration: none;
      color: grey;
      text-align: center;
    }
    span a {
      color: grey;
    }
    .activity a {
      float: right;
      padding-right: 10px;
    }
}

.mainchangingimages {
  .headerchangingimages {
    text-align: center;
    color: $darkblue;
    font-size: 4em;
    font-weight: normal;
  }
  .changingimages {
    background-color: $lightblue;
    text-align: center;
    margin: -14px;
  }
    a {
      position: relative;
      opacity: .4;
      color: black;
      text-decoration: none;
      font-size: 1.75em;
    }
      .img1 {
        margin-left: -3px;
        margin-right: -7px;
      }
      .img2 {
        margin-right: -7px;
        min-width: 300px;
      }
      .img3 {
        margin-right: -7px;
        min-width: 300px;
      }
      .img4 {
        margin-right: -7px;
        min-width: 300px;
      }
    a:hover {
      opacity: 1;
      color: white;
    }
      span {
        position: absolute;
        bottom: 15px;
        left: 15px;
      }
    img {
    width: 24.5%;
    }
}

footer {
  background-color: $darkblue;
  width: 100%;
  .footer {
    text-align: center;
    background-color: $darkblue;
    color: white;
    height: 100px;
    position: relative;
    width: 100%;
  }
    .leftfooter {
    padding: 18px;
    background-color: $darkblue;
    display: inline-block;
    width: 45%;
    }
      span {
      vertical-align: 70%;
      }
    .rightfooter {
      display: inline-block;
      background-color: $darkblue;
      width: 45%;
      font-size: 1em;
    }
      nav a {
        color: white;
        text-decoration: none;
        border-right: 1px solid white;
        padding-right: 10px;
      }
      a {
        vertical-align: 70%;
      }
}


@media all and (max-width: 320px) {

.header {
  height: 200px;
  width: 320px;
  header {
    position: relative;
  }
  nav {
    font-size: 1em;
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
  }
    h1 {
      font-size: 2em;
      width: 100%;
      margin: 0;
      padding-top: 130px;
    }
    h5 {
      font-size: .75em;
      width: 320px;
      margin-top: -10px;
    }
  .logoimage {
    position: absolute;
    top: 50px;
    left: 85px

  }
}

.mainbody {
  left: 15%;
  section {
    padding: 0;
    width: 90%;
    margin-left: 20px;
  }
  h2 {
    font-size: 3em;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
    line-height: 50px;
  }
  .little-image {
    display: none;
  }
  .name {
    display: none;
  }
    p {
    font-size: .9em;
  }
    span a {
      font-size: 1.25em;
      margin: 0px 5px;
    }
  .woah {
    font-size: 1.5em;
  }
  .box {
    width: 10%;
    span {
      display: none;
      float: left;
    }
  }
  aside {
    width: 100%;
    padding-bottom: 50px;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
  .paddleboard {
    width: 90%;
    position: relative;
    left: 20px;
    max-height: 283px;
  }
  .activity{
    a {
      font-size: 1em;
    }
  }
  .activity-h3 {
    display: none;
  }
  .activity-p {
    display: none;
  }
}

.mainchangingimages {
  .image-article {
    .headerchangingimages {
      font-size: 1.6em;
    }
    .changingimages {
      margin: 0px 20px;
      background-color: $lightblue;
      width: 280px;
      a {
        width: 320px;

        img {
          width: 100%;
          max-height: 200px;

        }
      }
      .img1 {
        width: 90%;
        max-height: 200px;
        margin: 0;
      }
      .img2 {
        width: 90%;
        max-height: 200px;
        margin: 0;

      }
      .img3{
        width: 90%;
        max-height: 200px;
        margin: 0;

      }
      .img4 {
        display: none;
      }

    }
  }
}
footer {
  width: 320px;
  .footer {
    height: 100%;
    text-align: left;
    .leftfooter {
      padding-top: 105px;
      img {
        clear: right;
        margin-left: 115px;
      }
      span {
        margin: 0px 30px;
        text-align: center;
        font-size: 1em;
        width: 220px;
        float: left;
        clear: left;
      }
    }
    .rightfooter {
      width: 90%;
      text-align: center;
      position: absolute;
      top: 10px;
      left: 20px;
      nav {
        a {
          text-align: center;
        }
        .Nav3 {
          border: none;
        }
        .Nav4 {
          border: none;
        }
      }
    }
  }
}
}
